
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2doIt</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/css/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("styles", false)
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
    @Styles.Render("~/Content/DevExtremeBundle")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
</head>
<body>
    <div class="loader"></div>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("EWCA", "Index", "Customers", new { area = "" }, new { @class = "navbar-brand" })

                @Html.ActionLink("Historie", "Index", "History", new { area = "" }, new { @class = "navbar-brand" })
                @Html.ActionLink("Importer", "Index", "Import", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - 2do IT, ERP & WEB solutions</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @section scripts{
        <script type="text/javascript">
            function showPageLoadingSpinner() {
                $('.loader').show();

            }

            function hidePageLoadingSpinner() {
                setTimeout(function () {
                    $('.loader').hide();
                },
                    20000);
            }


        </script>
    }



</body>
</html>
