@model Entities.Entities.Changelog

@{
    ViewBag.Title = "Edit";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Ændre <b>changelog</b> for udstyr: <b>@Model.Asset.Name</b></h2>
    <hr/>
    @Html.ValidationSummary(true, "", new {@class = "text-danger"})
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.Asset.CustomerId)
        @Html.HiddenFor(model => model.User.Id)
        @Html.HiddenFor(model => model.Asset.Id)
<div class="form-group">
            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.EditorFor(model => model.Description, new {htmlAttributes = new {@class = "form-control"}})
        @Html.ValidationMessageFor(model => model.Description, "", new {@class = "text-danger"})
    </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Minutes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Minutes, new { type = "number", min = "0", step = "1" })
                @*@Html.EditorFor(model => model.Minutes, new {htmlAttributes = new {@class = "form-control"}})*@
                @Html.ValidationMessageFor(model => model.Minutes, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ChangedDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ChangedDate, new { htmlAttributes = new { @class = "form-control", id="changelogdatefield" } })
                @Html.ValidationMessageFor(model => model.ChangedDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage", "AssetDetails", "Customers", new
    {
        id = Model.Asset.Id,
        customerId = Model.Asset.Customer.Id
        
            
    }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document)
      .ready(function () {
          var date = new Date(parseInt(@(Model.ChangedDate.Year)),
                parseInt(@(Model.ChangedDate.Month)-1),
                parseInt(@(Model.ChangedDate.Day)+1));
          document.getElementById("changelogdatefield").valueAsDate = date;
      });

</script>
}

