@model FrontendSecure.Models.ChangedHistoryVM

<div class="changed">
    @Model.UserName Ændrede
    <div class="historySpan changedHistoySpan historyHover" style="display: inline-block; width: 250px">

        <div class="tooltiptext">
            @foreach (var item in Model.Details)
            {
                <div>
                    @item.PropertyName : @item.OldValue -> @item.NewValue
                </div>
            }
        </div>
        @Model.TypeFullName # @Model.RecordId
    </div>
    d. @(Model.Date.ToString(Constants.DateFormat)).
</div>

