@model FrontendSecure.Models.ChangedHistoryVM

<div class="changed">
    @Model.UserName Ændrede
    <span class="historySpan changedHistoySpan tooltipper" title="<div>
        @foreach (var item in Model.Details)
        {
            <div>
                @item.PropertyName : @item.OldValue -> @item.NewValue
            </div>
        }
        </div>">
@Model.TypeFullName # @Model.RecordId
</span>
    d. @(Model.Date.ToString(Constants.DateFormat)).
</div>

