@model FrontendSecure.Models.DeletedHistoryVM

    <div class="deleted">
        @Model.UserName Slettede
        <div class="historySpan deletedHistoySpan historyHover" style="display: inline-block; width: 250px">

            <div  class="tooltiptext">
        @foreach (var item in Model.Details)
        {
            <div>
                @item.PropertyName : @item.OldValue
            </div>
        }
        </div>
@Model.TypeFullName # @Model.RecordId
</div>
        d. @(Model.Date.ToString(Constants.DateFormat)).
    </div>