@model FrontendSecure.Models.ChangedHistoryVM

<div class="changed">
    @Model.UserName changed
    <span class="historySpan changedHistorySpan tooltipper" title="<div>
        @foreach (var item in Model.Details)
        {
            <div>
                @item.PropertyName : @item.OldValue -> @item.NewValue
            </div>
        }
        </div>">
@Model.TypeFullName # @Model.RecordId
</span>
    on @(Model.Date.ToString())
</div>

