@using Microsoft.Ajax.Utilities
@using File = Entities.Entities.File
@model FrontendSecure.Models.CreateChangelogModel

@{
    ViewBag.Title = "AssetDetails";
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

}

<h2>
    @Html.DisplayFor(model => model.Asset.Name)
</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Asset.Address)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Asset.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Usedby)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Usedby)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.InstallationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.InstallationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.IpAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.IpAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Asset.OS)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.OS)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.RAM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.RAM)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Asset.HDD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Asset.HDD)
        </dd>


    </dl>

    <ul class="nav nav-tabs">
        <li role="presentation" class="active" onclick="TabShift()" id="ChangelogPane">
            <a href="#Changelog" data-toggle="tab" id="idChangelog">Changelog</a>
        </li>
        <li role="presentation" onclick="TabShift()" id="FilePane">
            <a href="#Files" data-toggle="tab" id="idFile">Filer</a>
        </li>
        <li role="presentation" onclick="TabShift()" id="Port">
            <a href="#Ports" data-toggle="tab" id="idPort">Ports</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="Changelog">
            
            @Html.Action("ChangelogTableExpressPartial", "Changelogs", new {assetid = Model.Asset.Id})

        </div>
        <div id="Files" class="tab-pane">
            <a id="addFileBtn" class="btn btn-default align-right" onclick="toggleAddFile()">
                <span class="glyphicon glyphicon-plus"
                      aria-hidden="true">
                    <b>Fil</b>
                </span>
            </a>
            <div id="addFilePopup" style=" height: 150px;
                                      width: 300px;
                                      position: fixed;
                                      background-color: lightgray;
                                      top: 50%;
                                      left: 50%;
                                      margin-left: -150px;
                                      margin-top: -75px;
                                      border-radius: 5px;
                                      padding: 20px;
                                      padding-left: 30px;
                                      display: none;">
                @using (Html.BeginForm("AddFile", "Assets", FormMethod.Post, new {enctype = "multipart/form-data"}))
                {
                    <input type="hidden" name="assetId" value="@Model.Asset.Id" />
                    <input type="File" id="fileUpload" name="Upload" />
                    <div class="form-group" id="buttons">
                        <input type="submit" class="btn btn-success" value="submit" onclick="fileSubmitted()" />
                        <a class="btn btn-danger" id="cancelBtn" onclick="toggleAddFile()">
                            Cancel
                        </a>
                    </div>

                }

            </div>
          
            @Html.Action("FileTableExpressPartial", "Changelogs", new { assetid = Model.Asset.Id })

        </div>
        <div id="Ports" class="tab-pane">

            @Html.Action("PortListExpressPartial", "Ports", new {assetid = Model.Asset.Id})


        </div>
    </div>
</div>
<p onclick="showPageLoadingSpinner()" style="display: inline-block; margin-top: 1%">
    @Html.ActionLink("Tilbage", "Details", new { id = Model.Asset.Customer.Id })
</p>
<script>
  function TabShift() {
        setTimeout(function() {
            localStorage.setItem("paneactive", $("ul.nav-tabs li.active ").attr("id"));
            var element = document.querySelector(".tab-content .active");
            localStorage.setItem("contentactive", $(element).attr("id"));
            console.log(localStorage.getItem("contentactive"));
        },400);
    }
    $(document)
        .ready(function () {
            var id = localStorage.getItem("paneactive");
            var element = document.getElementById(id);
            $(element).addClass('active').siblings().removeClass('active');

            var id2 = localStorage.getItem("contentactive");
            var element2 = document.getElementById(id2);
            $(element2).addClass('active').siblings().removeClass('active');


        });
    function toggleAddFile() {
        $("#addFilePopup")
            .toggle('fast',
                function() {

                });
    }
    function fileSubmitted() {
        showPageLoadingSpinner();
        toggleAddFile();
    }
   
</script>
