@model Entities.Entities.Customer

@{
    ViewBag.Title = "Delete";
}

<link href="~/Content/CustomerIndexStyles.css" rel="stylesheet" />


<div id="deleteIndex">
    <h4>Du er ved at slette: <b>@Html.DisplayFor(model => model.Firm)</b></h4>
    <hr />
    <dl class="dl-horizontal">
        
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" onclick="showPageLoadingSpinner()" /> |
            @Html.ActionLink("Tilbage", "Index")
        </div>
    }
</div>
