
@model FrontendSecure.Models.CustomerAssetypeViewModel

@{
    ViewBag.Title = Model.Customer.Firm;
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    @Html.DevExpress().GetStyleSheets(
        new StyleSheet { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new StyleSheet { ExtensionSuite = ExtensionSuite.Editors },
        new StyleSheet { ExtensionSuite = ExtensionSuite.GridView }
    )
    @Html.DevExpress().GetScripts(
        new Script { ExtensionSuite = ExtensionSuite.NavigationAndLayout },
        new Script { ExtensionSuite = ExtensionSuite.Editors },
        new Script { ExtensionSuite = ExtensionSuite.GridView }
    )

}

<div id="customerDiv">
    <h2>@Model.Customer.Firm</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Customer.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Date)
        </dd>

    </dl>
    <ul class="nav nav-tabs">
        <li role="presentation" class="active" onclick="TabShift()" id="AssetPane">
            <a href="#Asset" data-toggle="tab" id="idAsset">Udstyr</a>
        </li>
        <li role="presentation" onclick="TabShift()" id="UserPane">
            <a href="#User" data-toggle="tab" id="idUser">Brugere</a>
        </li>
    </ul>
</div>
<div class="container-fluid" style="overflow-x: auto;">
    <div class="tab-content" style="overflow-x: auto;">
        <div class="tab-pane active" id="Asset" style="overflow-x: auto;">
        
            @Html.Action("AssetTableExpressPartial", "Assets", new {customerid = Model.Customer.Id})
        
        </div>
        <div id="User" class="tab-pane">
         
            @Html.Action("UsersTableExpressPartial", "Users", new { customerId = Model.Customer.Id})
        
        </div>
    </div>
</div>


<p id="goBack" style="margin-top: 1%; display: inline-block">
    @Html.ActionLink("Tilbage", "Index")
</p>

<script type="text/javascript">
   function TabShift() {
        setTimeout(function () {
            localStorage.setItem("paneactive", $("ul.nav-tabs li.active ").attr("id"));
            var element = document.querySelector(".tab-content .active");
            localStorage.setItem("contentactive", $(element).attr("id"));
            console.log(localStorage.getItem("contentactive"));
        }, 400);
    }
    $(document)
        .ready(function () {
            var id = localStorage.getItem("paneactive");
            var element = document.getElementById(id);
            $(element).addClass('active').siblings().removeClass('active');

            var id2 = localStorage.getItem("contentactive");
            var element2 = document.getElementById(id2);
            $(element2).addClass('active').siblings().removeClass('active');


        });
</script>