@model FrontendSecure.Models.CustomerAssetypeViewModel

@{
    ViewBag.Title = "SortedAssets";
}

<h2>SortedAssets</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Navn
        </th>
        <th>
            Beskrivelse
        </th>
        <th>
            Adresse
        </th>
        <th>
            Bruger
        </th>
        <th>
            Lokation
        </th>
        <th>
            Oprettelses dato
        </th>
        <th>
            Type
        </th>
        <th>
            Login
        </th>
        <th>
            Password
        </th>
        <th>
            IP Adresse
        </th>
        <th>
            OS
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.SortedAssets) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Usedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InstallationDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Login)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IpAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OS)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
