@model FrontendSecure.Models.CreatePortModel

@{
    ViewBag.Title = "CreatePort";
}

<h2>Tilføj Port</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Port.SwitchId)

        <input type="hidden" value="@Model.customerId" name="customerid" />
        <input type="hidden" value="@Model.assetreturnid" name="assetreturnid" />

        <div class="form-group">
            
            <div class="col-md-10"style="display: inline-flex">
                <b style="width: 90px; display: inline-block; margin-left: 8.5%;">Port nummer</b>
                <div style="margin-left: 2.5%;">
                    @Html.EditorFor(model => model.Port.PortNumber, new {htmlAttributes = new {@class = "form-control"}})
                </div>
                @Html.ValidationMessageFor(model => model.Port.PortNumber, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10" style="display: inline-flex">
                <b style="width: 50px; display: inline-block; margin-left: 13%;">Udstyr</b>
                <div style="margin-left: 2.5%;">
                    @Html.DropDownListFor(m => m.Port.AssetId,
                        Model.Assets.Select(m => new SelectListItem()
                        {
                            Value = m.Id.ToString(),
                            Text = m.Name
                        }),
                        new {id = "select"})
                </div>


                @Html.ValidationMessageFor(model => model.Port.AssetId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port.Trunk, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Port.Trunk, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Port.Trunk, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port.VLAN, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Port.VLAN, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Port.VLAN, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Port.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Port.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Port.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Tilføj" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Tilbage", "AssetDetails", "Customers", new { id = Model.assetreturnid, customerId = Model.customerId }, null)
</div>
